---
interface Props {
  value?: number;
  prefix?: string;
  suffix?: string;
  decimals?: number;
}

const { value = 0, prefix = '', suffix = '', decimals = 0 } = Astro.props;
const formatted = `${prefix}${value.toLocaleString('en-US', {
  minimumFractionDigits: decimals,
  maximumFractionDigits: decimals,
})}${suffix}`;
---

<span class="num">{formatted}</span>
